<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ustalkov.SSU.TaskTree.DAO.Properties.Settings.JobConnectionString"
            connectionString="Data Source=LAPTOP-ST7R1B1J\SQLEXPRESS;Initial Catalog=Job;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>